* {
    box-sizing: border-box;
}

p {
    font-family: "Roboto", serif;
    color: #E5E7EB;
    font-size: 18px; 
}

.header{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    margin-bottom: -20px;
}

.links{
    display:flex;
    gap: 30px;
    flex-shrink: 0;
}

.logo {
    font-size:24px;
    color: #F9FAF8;
    font-weight: 700;
    flex-shrink: 0;
}

.awesome-part{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap:100px;
    padding: 100px 0px;
    flex: 1;
}

.text p:first-child{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: -10px;
    color: #F9FAF8;
}


.text p:nth-child(3){
    background: #3882F6;
    padding: 5px;
    width: 125px;
    text-align: center;
    font-weight: 550;
    border-radius: 7px;
}

.placeholder{
    background-color: gray;
    width: 500px;
    flex: 1;
    text-align: center;
    padding: 100px 0px;
}

.top {
    background: #1F2937;
    padding: 0px 150px;
}

.text{
    width: 500px;
    flex: 1;
    min-width: 250px;
}

.random {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin-bottom: 25px;
}

.boxes {
    display:flex;
    justify-content: space-evenly;
    gap: 30px;
}

.box{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.boxitem{
    border-radius: 5px;
    border: 3px solid #3882F6;
    width: 150px;
    height: 150px;
}

.random p {
    color: #1f2937;
    text-align: center;
    font-weight: 300;
}

.random p:first-child{
    font-size: 36px; 
    color: #1f2937;
    font-weight: 900;
}

.box p {
    max-width: 200px;
}

.quote{
    background-color: #e5e7eb;
    padding: 100px 200px;
}

.quote p:nth-child(1){
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    margin-bottom: -20px;
    text-align: left;
}

.quote p{
    color: #1f2937; 
    font-weight: 700;
    min-width: 700px;
    text-align: right;
}

.foot{
    display: flex; 
}

.footer{
    flex: 1;
    background-color: #3882f6;
    margin: 75px 200px;
    color: #f9faf8;
    display: flex; 
    justify-content: space-between;
    padding: 20px 100px;
    border-radius: 5px;
    align-items: center;
    gap: 50px;
}

.lefthand{
    min-width: 300px;
}

.lefthand p:nth-child(1){
    font-size: 24px;
    font-weight: 600;
    margin-bottom: -15px;
}

.lefthand p:nth-child(2){
    font-weight: 350;
}

.footer > p{
    border: 2px solid #f9faf8;
    border-radius: 5px;
    padding: 5px 30px;
    flex-shrink: 0;

}

body, html{
    margin: 0;
}